body {
    background-image: url('./../images/background.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-text{
    padding-top: 45px;
    line-height: 25%;
    text-align: center;
    font-family: Marker Felt, fantasy;
    border-top: 6px outset rgb(255, 229, 144);
    border-left: 6px outset rgb(255, 229, 144);
    border-right: 6px outset rgb(144, 255, 181);
    border-bottom: 6px outset rgb(144, 255, 181);
    border-radius: 18px 18px 18px 18px;
    align-self: start;
    width: 400px;
    background-color: white;
}

.image{
    float: left;
    margin-left: 25px;
}

.big-text {
    font-size: 60px;
    font-weight: bold;
    position: relative;
    top: -50px;
    color: black;
    text-shadow: 3px 3px rgb(255, 102, 0);   
}

.child-text {
    font-size: 20px;
    padding-left: 15px;
    position: relative;
    top: -50px; 
}


.try-again:disabled {
    padding: 5px 30px 5px 30px;
    margin-top: 20px;
    font-size: 25px;
    justify-content: center;
    border: 6px double white;
    position: relative;
    background-color: white;
    top: -50px;
    color: black;
    font-weight: bold;
    font-family: Marker Felt, fantasy;  
}

.try-again:enabled {
    padding: 5px 30px 5px 30px;
    border-radius: 8px;
    font-size: 22px;
    margin-top: 20px;
    justify-content: center;
    border: 8px double white;
    position: relative;
    top: -50px;
    color: white;
    font-weight: bold;   
    background-color: rgb(1, 138, 47);
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-family: Marker Felt, fantasy;
}

.try-again:hover:enabled {
    cursor: pointer;  
    border-radius: 4px;
    background-color: rgb(0, 93, 31);   
    position: relative;
    border: 8px double white;
    top: -50px;      
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
